<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <hr />
    <h2>Endpoint Mascotas</h2>
    <hr />
    <h3>Registrar Mascota</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Registrar Mascotas</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>/mascotas/registrar</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite registrar mascotas en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
          { "nombre": "Zeus", "raza": "Pitbull", "categoria": "Perros", "image":
          "photo-sm-1.jpg", "genero": "Macho" }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: "La mascota se ha registrado con
          exito" } <br />
          Incorrecto: Status:404 body:{ message: "La mascota no se pudo
          registrar" } <br />
          Error: Status:500 body:{ message:"Error del servidor : " + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Sharit Daniela Vargas ALmario</td>
      </tr>
    </table>

    <hr />
    <h3>Listar mascotas</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar mascotas</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>/mascotas/listar</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite listar todas las mascotas registradas</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: [ { "nombre_mascota": "Zeus", "raza":
          "Pitbull", "categoria": "Perros", "image": "photo-sm-1.jpg", "genero":
          'Macho' }] <br />
          Incorrecto: Status:404 body:{ message:'No se encontraron mascotas
          registradas' } <br />
          Error: Status:500 body:{ message:"Error del servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Sharit Daniela Vargas Almario</td>
      </tr>
    </table>

    <hr />
    <h3>Actualizar mascotas</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Actualizar mascotas</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>/mascotas/actualizar/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Actualiza mascotas en la base de datos con el id</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
          { "nombre": "Zeus", "raza": "Bullterrier", "categoria": "Perros",
          "image": "photo-sm-1.jpg", "genero": "Macho" }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: 'La mascota se actualizó con
          exito' } <br />
          Incorrecto: Status:403 body:{ message: 'La mascota no se pudo
          actualizar' } <br />
          Error: Status:500 body:{ message: "Error del servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Sharit Daniela Vargas Almario</td>
      </tr>
    </table>

    <hr />
    <h3>Buscar mascotas</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar mascotas registradas</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>/mascotas/buscar/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Busca mascotas en la base de datos pcon el ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { "nombre_mascota": "Zeus", "raza":
          "Pitbull", "categoria": "Perros", "image": "photo-sm-1.jpg", "genero":
          'Macho' } <br />
          Incorrecto: Status:404 body:{ message: 'No se encontro la mascota' }
          <br />
          Error: Status:500 body:{ message: "Error del servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Sharit Daniela Vargas Almario</td>
      </tr>
    </table>

    <hr />
    <h3>Eliminar mascotas</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar mascotas</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/mascotas/eliminar/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Elimina mascotas en la base de datos con el id</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: "Se a eliminado la mascota de
          forma exitosa" } <br />
          Incorrecto: Status:404 body:{ message: 'No se pudo eliminar la
          mascota'} <br />
          Error: Status:500 body:{ message: "Error del servidor" + error }
          <tr>
            <td>Desarrollador:</td>
            <td>Sharit Daniela Vargas Almario</td>
          </tr>
        </td>
      </tr>
    </table>
    <hr />
    <h2>Endpoint Opciones</h2>
    <hr />
    <h3>Listar Razas</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar Razas</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>/opciones/razas</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Lista todas las razas existentes en la Base de Datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 
          json: [ {
             "id_raza": 1, 
             "nombre_raza": "Bulldog"
          } ] <br />
          Incorrecto: Status:404 body:{ message:'Not Found' } <br />
          Error: Status:500 body:{ message:"Error del servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Sharit Daniela Vargas Almario</td>
      </tr>
    </table>

    <hr />
    <h3>Listar Categorias</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar Categorias</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>/opciones/categorias</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Lista todas las categorias existentes en la Base de Datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 
          json: [{
              "id_categoria": 1,
              "nombre_categoria": "Perro"
          }]<br />
          Incorrecto: Status:404 body:{ message:'Not Found' } <br />
          Error: Status:500 body:{ message:"Error del servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Sharit Daniela Vargas Almario</td>
      </tr>
    </table>
    <hr />
    <h3>Listar Genero</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar Generos</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>/opciones/generos</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Lista todas los generos existentes en la Base de Datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 
          json: [{
              "id_genero": 1,
              "nombre_genero": "macho"
          }]<br />
          Incorrecto: Status:404 body:{ message:'Not Found' } <br />
          Error: Status:500 body:{ message:"Error del servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Sharit Daniela Vargas Almario</td>
      </tr>
    </table>
    <hr />
    <h3>Listar Usuarios</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar Usuarios</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>/opciones/usuarios</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Lista todas los usuarios existentes en la Base de Datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 
          json: [{
              "id_user": 1,
              "nombres": "Sharit Daniela Vargas A",
              "email": "sharit@gmail.com",
              "password": "Sharit098765"
          }]<br />
          Incorrecto: Status:404 body:{ message:'Not Found' } <br />
          Error: Status:500 body:{ message:"Error del servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Sharit Daniela Vargas Almario</td>
      </tr>
    </table>
    <hr />
    <h2>Endpoint Usuario</h2>
    <hr />
    <hr />
    <h3>Validar Usuario</h3>
    <table>
      <tr>
        <td>Numero:</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Validar Usuario</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>/usuario/validar</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Valida el Usuario existente en la Base de Datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>PETICION JSON</td>
        <td>
          {
            "nombres": "Sharit Daniela Vargas Almario ",
            "email":"sharit@gmail.com",
            "password":"Sharit098765"
          }
        </td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 
          json:{
            "user": [
                {
                    "email": "sharit@gmail.com",
                    "password": "Sharit098765"
                }
            ],
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjpbeyJlbWFpbCI6InNoYXJpdEBnbWFpbC5jb20iLCJwYXNzd29yZCI6IlNoYXJpdDA5ODc2NSJ9XSwiaWF0IjoxNzE2NDcyNzQ2LCJleHAiOjE3MTY1NTkxNDZ9.5FMSNqipG0jNxLK_xOl7O7fVW6Xq_jGq323olmntJBc"
        }<br />
          Incorrecto: Status:404 body:{ message:'Usuario No Autorizado' } <br />
          Error: Status:500 body:{ message:"Error del servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Sharit Daniela Vargas Almario</td>
      </tr>
    </table>

    
  </body>
</html>
